body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:#FF785B;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.form-group{
    width:80%;
    margin:auto;
    overflow:hidden;
    text-align:right;
    margin-top: 15px;
}

.signup{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:37px;
    background:#e8491d;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}

.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}

/* Header */
header{
    background:#35424a;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;

}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#FF785B;
    font-weight:bold;
}

/* Showcase */
#showcase{
    min-height:400px;
    background:url('../img/showcase.png') no-repeat;
    text-align:center;
    color:#cccccc;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

/* Newsletter */
#newsletter{
   padding:15px;
   color:#ffffff;
   background:#35424a;
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250;
}

/* Boxes */
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:150px;
}

/* Sidebar */
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

/* Main-col */
article#main-col{
    float:left;
    width:65%;
}

/* Seconday-col */
article#sec-col{
    float:center;
    width:65%;
}

/* Products */
ul#products li{
    list-style:none;
    padding:20px;
    border: rgb(255, 83, 44) solid 1px;
    margin-bottom:5px;
    background: rgb(253, 110, 77);
}

ul#specialproducts li{
    list-style:none;
    padding:20px;
    border: rgb(255, 83, 44) solid 1px;
    margin-bottom:5px;
    padding-left: 50px;
    background: rgb(253, 110, 77);
}

#fix {
    padding-left: 25%;
}

/* New Stuff */
ul#new li{
    list-style:none;
    padding:20px;
    border: rgb(255, 83, 44) solid 1px;
    margin-bottom:5px;
    background: rgb(253, 110, 77);
}

/* To Do */
ul#todo li{
    list-style:none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background: #35424a;
}

footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e64316;
    text-align:center;
}

#img {
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#price {
    font-size: 20px;
    margin-bottom: 0px;
}